<mat-toolbar color="primary">
  <div class="header">
    <div class="header__right">
      <button
        (click)="onHamburgerClick()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>בונים בית</span>
      <span class="example-spacer"></span>
    </div>
    <div class="header__left">
      <button
        *ngIf="!(isLoggedIn$ | async); else loggedout"
        class="mat-elevation-z3"
        mat-raised-button
        color="accent"
        (click)="onLoginClick()"
      >
        התחבר / הרשם
      </button>
      <ng-template #loggedout>
        <button
          (click)="logOut()"
          class="mat-elevation-z3"
          mat-raised-button
          color="accent"
        >
          התנתק
        </button>
      </ng-template>
    </div>
  </div>
</mat-toolbar>
