<div class="expenses-table">
  <mat-card>
    <mat-card-header>
      <mat-card-title>טבלת הוצאות</mat-card-title>
      <!-- <mat-card-subtitle>מה עושים לפני התחלת הבניה</mat-card-subtitle> -->
    </mat-card-header>
    <div class="table-container">
      <div fxLayoutAlign="center center">
        <mat-form-field fxFlex="40%" style="text-align: right">
          <input
            matInput
            type="text"
            (keyup)="doFilter($event)"
            placeholder="חפש הוצאות"
          />
        </mat-form-field>
      </div>
      <table mat-table [dataSource]="expensesData" matSort #sorter="matSort">
        <ng-container matColumnDef="name">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            [ngClass]="'column-width'"
          >
            Name
          </th>
          <td mat-cell *matCellDef="let element" [ngClass]="'column-width'">
            {{ element.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            [ngClass]="'column-width'"
          >
            Amount
          </th>
          <td mat-cell *matCellDef="let element" [ngClass]="'column-width'">
            {{ element.amount }}
          </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            [ngClass]="'column-width'"
          >
            Date
          </th>
          <td mat-cell *matCellDef="let element" [ngClass]="'column-width'">
            {{ element.date }}
          </td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            [ngClass]="'column-width'"
          >
            Category
          </th>
          <td mat-cell *matCellDef="let element" [ngClass]="'column-width'">
            {{ element.category }}
          </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            [ngClass]="'column-width'"
          >
            Type
          </th>
          <td mat-cell *matCellDef="let element" [ngClass]="'column-width'">
            {{ element.type }}
          </td>
        </ng-container>

        <ng-container matColumnDef="comments">
          <th mat-header-cell *matHeaderCellDef [ngClass]="'column-width'">
            Comments
          </th>
          <td mat-cell *matCellDef="let element" [ngClass]="'column-width'">
            {{ element.comments }}
          </td>
        </ng-container>

        <ng-container matColumnDef="file">
          <th mat-header-cell *matHeaderCellDef [ngClass]="'column-width'">
            העלאת קובץ
          </th>
          <td mat-cell *matCellDef="let element" [ngClass]="'column-width'">
            <ng-container *ngIf="element?.fileName">
              <a
                href="{{ element.fileUrl }}"
                download="{{ element.fileName }}"
                >{{ element.fileName }}</a
              >
              <span
                class="delete-file"
                (click)="deleteFile(element.fileId, element.id)"
                matTooltip="מחק הוצאה"
              >
                ✕
              </span>
            </ng-container>
            <ng-container *ngIf="!element?.fileName">
              <label
                for="file"
                matRipple
                [matRippleUnbounded]="false"
                class="mat-elevation-z2"
              >
                Upload File
                <input
                  hidden
                  id="file"
                  name="file"
                  type="file"
                  (change)="uploadFile($event, element.id)"
                />
              </label>
            </ng-container>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayColumns; sticky: true"
          [ngClass]="'column-width'"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayColumns"
          (click)="editData(row)"
          [ngClass]="'column-width'"
        ></tr>
      </table>
    </div>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20, 50]"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card>
</div>
