<div class="single-stage" *ngIf="currentStage">
  <h2>{{ currentStage.title }}</h2>
  <mat-accordion>
    <mat-expansion-panel
      *ngFor="let item of currentStage.stageItems; let stageItemIndx = index"
      (closed)="onClosePanel(stageItemIndx)"
      (opened)="onOpenPanel(stageItemIndx)"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> {{ item.title }} </mat-panel-title>
        <mat-panel-description>
          {{ item.description }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="stages__stage-item">
        <div class="stages__check-list">
          <div
            class="stages__check-list-item"
            *ngFor="let todoItem of item.todos; let todoIndex = index"
          >
            <mat-checkbox
              class="example-margin"
              [(ngModel)]="todoItem.isCompleted"
              (change)="onTodoChange(stageItemIndx)"
            >
              &nbsp; {{ todoItem.title }}</mat-checkbox
            >
          </div>
          <div class="add-todo">
            <br />
            <div class="add-todo-actions">
              <button mat-raised-button (click)="addTodo(stageItemIndx)">
                הוספת משימה <mat-icon>add</mat-icon>
              </button>
              <div class="input-container" *ngIf="item.isTodoFormActive">
                <form
                  #todoForm="ngForm"
                  (ngSubmit)="onSubmitTodoForm(stageItemIndx)"
                >
                  <mat-form-field
                    appearance="standard"
                    style="text-align: right"
                  >
                    <mat-label>הוספת משימה</mat-label>
                    <input [required]="true" matInput name="todoName" ngModel />
                    <mat-hint *ngIf="exitingTodoError"
                      >המשימה הזאת קיימת...</mat-hint
                    >
                  </mat-form-field>

                  <button
                    [disabled]="todoForm.invalid"
                    type="submit"
                    mat-raised-button
                    color="primary"
                  >
                    שמור <mat-icon>save</mat-icon>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="stages__stage-item-progress">
          <div class="stages__stage-item-progress-precentage">
            {{ item.stageProgress | number: "1.0-0" }} %
          </div>
          <mat-progress-spinner
            class="example-margin"
            [mode]="'determinate'"
            [value]="item.stageProgress"
          >
          </mat-progress-spinner>
        </div>
      </div>
    </mat-expansion-panel>
    <br />
    <div class="add-item">
      <button mat-raised-button (click)="onAddStageItemClick()">
        הוספת שלב <mat-icon>add</mat-icon>
      </button>
      <div class="input-container" *ngIf="isAddStageItemActive">
        <form #stageItemForm="ngForm" (ngSubmit)="onSubmitStageItemForm()">
          <mat-form-field appearance="standard" style="text-align: right">
            <mat-label>הוספת שלב</mat-label>
            <input [required]="true" matInput name="name" ngModel />
            <mat-hint *ngIf="existingStageNameError"
              >השלב הזאת קיים...</mat-hint
            >
          </mat-form-field>
          <mat-form-field appearance="standard" style="text-align: right">
            <mat-label>תיאור השלב</mat-label>
            <input [required]="true" matInput name="description" ngModel />
          </mat-form-field>

          <button
            [disabled]="stageItemForm.invalid"
            type="submit"
            mat-raised-button
            color="primary"
          >
            שמור <mat-icon>save</mat-icon>
          </button>
        </form>
      </div>
    </div>
  </mat-accordion>
</div>
